@if(pipeline && pipelineForm){
<form [formGroup]="pipelineForm">
    @for(group of pipelineFormModel.groups; track $index){
    <!-- Need to replace with better version of dynamic fileds -->
    <h3>{{group.name}}</h3>
    <div>
        @for (field of group.fields; track $index) {
        @if(field.type == 'file' || field.type == 'file-output'){
        <label [for]="getFieldFor(group,field)">{{field.name}}</label>
        @if(field.type == 'file-output'){
        <app-file-input [id]="getFieldFor(group,field)" [isOutput]="true" type="path" [formControlName]="getFieldFor(group,field)"
            style="margin-bottom: 10px;"></app-file-input>
        }
        @else {
        <app-file-input [id]="getFieldFor(group,field)" [isOutput]="false" type="path" [formControlName]="getFieldFor(group,field)"
            style="margin-bottom: 10px;"></app-file-input>
        }
        <!-- <input [id]="field.name" [type]="field.type" [formControlName]="field.name" style="margin-bottom: 10px;" /> -->
        }
        @else {
        <label [for]="getFieldFor(group,field)">{{field.name}}</label>
        <input [id]="getFieldFor(group,field)" [type]="field.type" [formControlName]="getFieldFor(group,field)" style="margin-bottom: 10px;" />
        }
        
        }
    </div>
    }
    
</form>
}