<!-- Pipelines -->
 <h2>Pipelines</h2>
<mat-tree #pipelineTree class="tree" [dataSource]="pipelineDataSource" [treeControl]="pipelineTreeControl">
  
  <mat-nested-tree-node *matTreeNodeDef="let node" (click)="onPipelineLeafClick($event,node)">
    {{node.name}}
  </mat-nested-tree-node>
</mat-tree>
<!-- Plugins -->
 <h2>Plugins</h2>
<mat-tree #pluginTree class="tree" [dataSource]="registryDataSource" [treeControl]="treeControl">
  <mat-nested-tree-node *matTreeNodeDef="let node" (click)="onLeafClick($event,node)">
    {{node.name}}
  </mat-nested-tree-node>
  <mat-nested-tree-node *matTreeNodeDef="let node; when hasChild" matTreeNodeToggle>
    <div class="mat-tree-node">
      <Button matIconButton [attr.aria-label]="'Toggle ' + node.name" matTreeNodeToggle>
        <mat-icon>{{!treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}</mat-icon>
      </Button>
      {{node.name}}
    </div>
    <div [class.invisible]="!treeControl.isExpanded(node)" role="group">
      <ng-container matTreeNodeOutlet></ng-container>
    </div>
  </mat-nested-tree-node>
</mat-tree>